@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/pictures/webBackground2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

body.bAndB::before {
  background-image: url('/pictures/webBackground3.jpg');
  opacity: 0.3;
}